* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    height: 100px;
}

.border-w {
    border: 1px dashed white;
}

.border-b {
    border: 1px dashed black;
}

.content-2 {
    height: 500px;
    border: 1px dashed black;
}

.content-3 {
    height: 300px;
}

.content-4 {
    height: 200px;
}

header {
    background-color: #2D3E50;
}

#bg_color {
    background-color: #17BC9C;
}

#bg_color_2 {
    background-color: #3A546D;
}

#bg_color_3 {
    background-color: #2D3E50;
}

.img-avatar {
    max-width: 30%;
    height: auto;
}

.title-main {
    font-size: 60px;
}

.title {
    font-size: 50px;
}

.fnt-size-txt {
    font-size: 25px;
}

.star-icon {
    color: white;
    margin: 5px auto;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
  }

  .star-icon:before {
    content: "";
    display: block;
    width: 170px;
    height: 5px;
    background: #fff;
    border-radius: 20px;
    left: 0;
    top: 50%;
    position: absolute;
    margin: 0 90px;
  }
  
  .star-icon:after {
    content: "";
    display: block;
    width: 170px;
    height: 5px;
    background: #fff;
    border-radius: 20px;
    right: 0;
    top: 50%;
    position: absolute;
    margin: 0 90px;
  }

  .star-icon-black {
    color: black;
    margin: 5px auto;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
  }

  .star-icon-black:before {
    content: "";
    display: block;
    width: 170px;
    height: 5px;
    background: black;
    border-radius: 20px;
    left: 0;
    top: 50%;
    position: absolute;
    margin: 0 90px;
  }
  
  .star-icon-black:after {
    content: "";
    display: block;
    width: 170px;
    height: 5px;
    background: black;
    border-radius: 20px;
    right: 0;
    top: 50%;
    position: absolute;
    margin: 0 90px;
  }
  
  
  .menu {
    display: inline;
  }

  .hamburger {
    display: none;
  }

  .img-container {
    width: 100%;
  }

  @media screen and (max-width: 991px) {
    .hamburger {
        display: block;
    }

    .menu {
        display: none;
    }

    .img-avatar {
        max-width: 40%;
    }

    .title-main {
        font-size: 45px;
    }

    .star-icon-black:before, .star-icon-black::after {
        width: 100px;
        margin: 0 100px;
    }

    .fnt-size-txt {
        font-size: 20px;
    }

  }

  @media screen and (max-width: 576px) {
    .hamburger {
        display: block;
    }

    .menu {
        display: none;
    }

    .img-avatar {
        max-width: 60%;
    }

    .title-main {
        font-size: 35px;
    }

    .star-icon:before, .star-icon::after {
        width: 100px;
        margin: 0 110px;
    }

    .star-icon-black:before, .star-icon-black::after {
        width: 100px;
        margin: 0 110px;
    }
    
    .fnt-size-txt {
        font-size: 15px;
    }
  }

